Portlar:
{
Identity Api:5001
Catalog Api:5011
Photo Stock:5012
basket:5013
Discount:5014
Order:5015
FakePayment:5016
RabbitMQ:5672
gateway:5000
FrontEnd:5010
}
UserName = "rmznkrtl",
Email = "rmznkrtl@gmail.com",
password:11111Rr*


discount Db'im için:
create table Discount(
Id serial primary key,
UserId varchar(200)  not null,
Rate smallint not null,
Code  varchar(50)  not null,
CreatedDate timestamp not null default CURRENT_TIMESTAMP
)